<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>




  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="mobilewebserviceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="mobilewebserviceSoap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="mobilewebserviceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://test9.optisuite.mobi/ws/mobilewebservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="mobilewebserviceSoap"
        contract="test9.mobilewebserviceSoap" name="mobilewebserviceSoap" />
  
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>